body {
    /*font-family: 'Open Sans', sans-serif;*/
	padding-top: 4.75em;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: white;
    background: linear-gradient(#ffffff, #cecece); 
    
}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
}

nav.navbar-inverse { /*navbar*/
    background-color: white; 
    height: 6.325em;
    margin: -0.8em 0 -0.8em !important;
}

div.navbar-right { /*right part of the navbar*/
    margin-top: -0.275em !important;
    margin-right: 2em;
}

#home { /*sun fa-icon*/
    color: #ffffff;
    border:right;
    margin-top: 0.2em;
    font-size: 2.75em !important;
    text-shadow: 0.00em 0.04em 4px #3d3d3d;
}


.NofasLogo {
    margin-top: -2.4em;
}

#home:hover
{
    color: black !important;
    text-shadow: 0.00em 0.04em 12px #ffffff;
}

.tooltip-inner {
    width: 9vw !important;
    background-color: #000000; 
    color: #FFFFFF;
    opacity: 1 !important;
    font-size: 15px;
}

.homeContentInner {
    margin-top: 5em;
}

.forPadding {
    background-color: white;
    padding: 2em;
    border-radius: 0.7em;
}

.homeTainer{
    padding: 4em;
    margin-bottom: -1em;
}

#pageTitleContainer, #pageTitleContainerAlt, #pageTitleContainerAlt2{ 
    color: #3F51B5 !important;
    margin-top: -0.8em;
    margin-bottom: 0em !important;
    font-family: font-family: 'Anton', sans-serif !important;
    font-style: bold;
    font-size: 3em;
    letter-spacing: 0.04em;
} #pageTitleContainerAlt, #pageTitleContainerAlt2 {
    display: none;
} 

.pageTitleH2{
    color: #3F51B5  !important;
    font-family: 'Anton', sans-serif;
    line-height: 0.01em !important;
    margin-bottom: .5em;
}

#splitBelow414 {
    display: none;
}

#toBlack {
    line-height: 2;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
 
.homeLogo {
    max-width: 144px !important;
    margin-top: -3.90em;
    margin-left: 3.4em ;
} 

.resultLogo {
    max-width: 144px !important;
    margin-top: -9em;
}

.homeTent {
    margin-top: 2em !important;
    font-family: 'Helvetica', sans-serif;
    color: #444444;
}

.leftHome, .rightHome, .midHome{
    font-size: 1.2em !important;
    padding-top: 2em;
    line-height: 1.4em;
    background-color: white;
}

.leftHomeContainer {
    margin-top: 4em;
    margin-bottom: 2.7em;
}

#leftHomeP2 {
    padding-top: 1em;
}

.note {
    color: #3F51B5 !important;
    font-family: 'Anton', sans-serif !important;
    font-style: bold;
    font-size: 1.6em;
    margin-top: .05em !important;
}

.midTextHolder {
    padding-top: 1.2em !important;
    color: black !important;
}

.homeButton, .homeButtonAlt{
    padding-top: 2.4em;
}

.homeBtn, .homeBtnAlt {
    text-transform: uppercase;
    font-weight: bold !important;
    background-color: #3F51B5 !important;
    position: relative !important;
    display: inline-block !important;
    padding: 10px 10px 10px 10px !important;
    text-align: center;
}

.homeButtonAlt {
    display: none;
}

.homeBtnAlt {
    line-height: .6em;
    padding-top: 1em !important;
}

.homeBtn:hover, .homeBtnAlt:hover{
    background-color: black !important;
}

.rightHome {
    padding-bottom: 4.4em !important;
}

.homePageList {
    margin-top: 1.75em;
    list-style: none;
    padding-left:0;
    line-height: 1.3em;
}

.i1 {
    margin-top: -2em;
}

li[class^='i']{
    vertical-align: left;
}

.fa-circle{
    color: #383838;
    font-size: 0.6em !important;
    margin-right: 0.5em;
    vertical-align: middle;
} 

.list {
    line-height: 1.5em;
    font-size: 20px;
}

.footer-blurb-choice-1 {
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #ffffff, #ffffff, #2E79A6, #ecb3ff, #39909E, #1a66ff, , #ffffff, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #ffffff,#ffffff,  #2E79A6, #ecb3ff, #39909E, #1a66ff, #ffffff, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg,#ffffff, #ffffff, #2E79A6, #ecb3ff, #39909E, #1a66ff, #ffffff, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #ffffff, #ffffff, #2E79A6, #ecb3ff, #39909E, #1a66ff, #ffffff, #ffffff); /* Standard syntax */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
    
.footer-blurb-item {
    padding-left: 30px;
    padding-right: 30px;
}

/*Result Screen*/

#risk-description {
    /*text-shadow: 0.001em 0em 1.25px #eceeef; */
    color: white;
}

.resultContent {
    color: black; 
    background-color: transparent;
}

.resultInfo {
    background: white;
    background: linear-gradient(#ffffff, #fefeff, #ffffff) !important; 
    border-radius: 0.7em;
}


.resultTitle {
    margin-top: -1em; 
    margin-bottom: -0.5em
}

.resultTitle > h2 {
    font-weight: bold;
}

#risk-title {
    margin-bottom: 2em; 
    font-size: large;
    
}

.risk-title {
    font-size: 1.2em;
    font-weight: bold;
    background: linear-gradient(#ffffff, #ffffff, #ffffff, #ffffff, #fffefe) !important;
}

.riskContainer {
    margin-top: 0em;
}

#risk-description {
    border-radius: 0.8em; 
    background-color: #FFFFFF; 
    padding: 1.2em; text-align: left;
}

#risk-border{
    margin-top: 1.2em; 
    border: 5px solid #FFFFFF; 
    border-radius: 8px; 
    padding: 8px 8px 8px 25px; 
    border-top-style: none; 
    border-bottom-style: none
}

#risk-box-1 {
    margin-top: 2em; 
    border: 5px double #FFFFFF; 
    outline: solid 7px #FFFFFF; 
    padding: 8px
}

.box1Title {
    margin-top: 1.2em;
}

.riskList {
   font-size: 19px;
}

#risk-box-2 {
    border: 5px double #FFFFFF; 
    outline: solid 7px #FFFFFF; 
    padding: 8px; 
    margin-top: 7px; 
    padding-right: 9px;
}

#risk-box-2 > p {
    padding-left: 0.8em
}

#risk-box-2 > p > b {
    text-decoration: underline;
}

.resourceLinks {
    margin-top: 1.5em !important;
}

.resourceLinks > h2 {
    text-align: left; 
    margin-top: 1em
}

.resourceLinks > div {
    text-decoration: underline;
}

.sources {
    background-color: #ffffff !important;
    border-radius: 0.7em;
    margin-top: 2em;
}

.sources > h2 {
    margin-bottom: 1.2em
}
 
/*.page-header { border-bottom:none; }  DNE for now*/

li {
	padding-top: 1em;
}

span[id^=a]{ /* hides individual score */
    /*display: none;*/
}

span[id^=page]{ /*hides total score for the page */
    /*display: none;*/
}

.devFeat { /* Color and Score picker for the Result page*/
    /*display:none;*/
}


#home-Container { /* ----------------- Home Screen ------- */
    /*display: none;*/
}

#firstMultiple-Container {
    /**/display: none;
}

#secondMultpile-Container {
    /**/display: none;
}

#thirdMultiple-Container {
    /**/display: none;
}

#resultScreen-Container { /*results*/
    /**/display: none;
}

.jumbotron {
    font-size: 17px;
}

.error {
    box-shadow: 0 0 5px 1px red;
    /*border: 4px groove red; */
    /*color: red;*/
}

.questionError {
    color: red;
}

.no-error {
    box-shadow: none;
    /*border: 0; */
    color: black;
}

.small-print { /*footer class*/
    padding: 30px 0;
    margin-top: 2em;
    background-color: #242729;
    color: #FFF;
    padding: 30px 0;
}

footer a {
    color: white !important;
    text-decoration: undeline;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content-1, .footer-content-2 {
    display: flex;
    justify-content: space-between;
}


@media(max-width: 376px) {
    #lineBreak::before { content: '\A'; }
}

@media (max-width: 415px){
    #pageTitleContainerAlt {
        display: block !important;
    }
    #pageTitleContainer {
        display: none !important;
    }
    #title2 {
        line-height: 1.6em;
    }
    #toBlack {
        line-height: 1.2em;
        margin-top: -.4em;
    }
}


@media (max-width: 374px){
    .risk-title {
        font-size: .8em !important;
    }
}


@media (max-width: 376px){
    #pageTitleContainerAlt {
        display: none !important;
    }
    #pageTitleContainerAlt2 {
        display: block !important;
        margin-top: -0.3em;  
    }
    #title3 {
        line-height: 1.4em;
    } #title2 {
        margin-top: -0.7em;
    } #toBlack {
        padding-top: 0.5em !important;
    }

}

@media (max-width: 768px) {
    nav > div> div > a > i {
        margin-top: -5px !important;
    }
    #risk-title {
        margin-top: 2em !important;
    }
}


@media (max-width: 992px) {
    .resultLogo{
        display: none;
    }
}

@media (max-width: 768px) {
    #giveMarginBelow768px {
        margin-top: 1.5em !important;
    }
    .leftCont, .midCont, .rightCont {
        padding-top: 1.2em !important;
    }
    .homeTent{
        margin-top: -6em !important;
    }
}

@media (max-width: 768px) {
    .NofasLogo {
        margin-top: -2.3em !important;
        margin-left: -7em !important;
    }
    .navbarIntegrity {
        display: flex;
        justify-content: space-between;
    }
    .fa-sun-o {
        margin-top: .3em !important;
        margin-right: -3em !important;
    }
}

@media only screen and (max-width: 991px){
    .homeButton {
        display: none;
    }
    .homeButtonAlt {
        display: block;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .homeButtonAlt {
        display: none;
    }
    .homeButton {
        display: block;
    }
}






/*
@media (max-width: 766px) {
    div.navbar-left{
        margin-top: -.1em !important;
    }
    .navbarIntegrity {
        display: flex;
        justify-content: space-between;
    }
} */



